@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-text-primary);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: #000;
  }
}

@media {
  body {
    /* display: flex; */
    place-items: center;
  }

  #app {
    display: flex;
    flex-direction: column; /* Sắp xếp theo chiều dọc */
    grid-template-columns: 1fr 1fr;
    min-width: 100%;
  }
}
